<ion-view view-title="{{ 'mm.login.credentials' | translate }}">
    <ion-content mm-state-class style=''>
        <div class="card" style="background: rgba(255,255,255,0.5)">
            <div class="item item-text-wrap item-avatar-center" style="background: rgba(255,255,255,0.5)">
                <img ng-src="img/user-avatar.png" class="avatar" mm-external-content role="presentation">
                <p>{{ 'mm.login.credentialsdescription' | translate }}</p>
                <h2 class="padding"><!--{{siteurl}}-->Polytecvirtual</h2>
            </div>
        </div>
        <div class="card" style="background: rgba(255,255,255,0.5)">
            <div class="list list-inset" style="background: rgba(255,255,255,0.5)">
                <form>
                    <ion-input class="item item-input item-stacked-label">
                        <ion-label>{{ 'mm.login.username' | translate }}</ion-label>
                        <input type="text" placeholder="{{ 'mm.login.username' | translate }}" ng-model="credentials.username" autocapitalize="off" autocorrect="off" mm-auto-focus ng-disabled="isBrowserSSO">
                    </ion-input>
                    <ion-input class="item item-input item-stacked-label">
                        <ion-label>{{ 'mm.login.password' | translate }}</ion-label>
                        <input type="password" placeholder="{{ 'mm.login.password' | translate }}" ng-model="credentials.password" ng-disabled="isBrowserSSO">
                    </ion-input>
                    <div class="item item-input padding">
                        <button style="background: rgba(6,128,87,1)" class="button button-block" ng-click="login()">{{ 'mm.login.loginbutton' | translate }}</button>
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>
