<ion-view view-title="{{ 'mm.login.connecttomoodle' | translate }}">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-help-circled" ng-click="showHelp()" aria-label="{{ 'mm.core.help' | translate }}"></button>
    </ion-nav-buttons>
    <ion-content id="mm-login-site" mm-state-class style=''>
        <div class="card" style="background: rgba(255,255,255,0.5)">
            <div class="item item-text-wrap" style="background: rgba(255,255,255,0.5)"><!--{{ 'mm.login.newsitedescription' | translate }}-->
                Bienvenido a Universidad Católica de Oriente
            </div>
            <label></label>
            <div class="list list-inset" ng-init="siteurl = 'http://polytecvirtual.edu.co/aulapolytec'" style="background: rgba(255,255,255,0.5)">
                <div class="item item-text-wrap" style='background-size: contain;background-repeat: no-repeat;background-color: transparent !important;background-image: url("logo.png") !important'><!--{{ 'mm.login.newsitedescription' | translate }}--></div>
                <form>
                    <!--<ion-input class="item item-input item-stacked-label">
                      <ion-label>{{ 'mm.login.siteaddress' | translate }}</ion-label>
                      <input type="url" placeholder="moodle.org" ng-model="siteurl" mm-no-input-validation mm-auto-focus >
                    </ion-input>-->
                    <input type="hidden" value="{{siteurl}}" ng-model="siteurl" mm-no-input-validation ng-change="validate(siteurl)">
                    <div class="item" style="background: rgba(255,255,255,0)">
                        <button style="background: rgba(6,128,87,1)" class="button button-block" ng-click="connect(siteurl)">{{ 'mm.login.connect' | translate }}</button>
                    </div>
                    <!--
                    <div class="item item-input padding">
                        <button class="button button-block" ng-click="connect(siteurl)" ng-disabled="!siteurl">{{ 'mm.login.connect' | translate }}</button>
                    </div>
                    -->
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>
